@charset "UTF-8";

@media screen and (max-width:600px) {
    .flex-wrap {
        max-width: 1400px;
    }

    .item {
        flex-basis: 100%; /*이미지 간 여백*/
    }

    img {
        width: 100%;
    }

    .content h3 {
        margin-bottom: 8px;
    }

    .content p {
        line-height: 20px;
        text-align: center;
        padding: 10px;
        margin-bottom: 50px
    
    }
    
}